function aliases(){
    nvim ~/data/dotfile/.aliases 
}

function sysmonitor(){
  vtop
}

function rsh(){
    source ~/data/dotfile/.zshrc
}

function v() {
    nvim "$@"
}

batdiff() {
    git diff --name-only --relative --diff-filter=d | xargs bat --diff
}

copyp() {
  pwd | xclip -sel c
}
